<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xiguapi.haw.db.mapper.SysConfigMapper">

    <select id="selectAllParam" resultType="cloud.xiguapi.haw.db.model.SysConfig">
        SELECT sc.param_key, sc.param_value
        FROM sys_config sc
        WHERE sc.status = 1
    </select>
</mapper>