<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.xiguapi.haw.db.mapper.TbFaceModelMapper">
  <resultMap id="BaseResultMap" type="cloud.xiguapi.haw.db.model.TbFaceModel">
    <!--@mbg.generated-->
    <!--@Table tb_face_model-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="face_model" jdbcType="LONGVARCHAR" property="faceModel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, face_model
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from tb_face_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from tb_face_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cloud.xiguapi.haw.db.model.TbFaceModel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_face_model (user_id, face_model)
    values (#{userId,jdbcType=INTEGER}, #{faceModel,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cloud.xiguapi.haw.db.model.TbFaceModel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into tb_face_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="faceModel != null">
        face_model,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="faceModel != null">
        #{faceModel,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cloud.xiguapi.haw.db.model.TbFaceModel">
    <!--@mbg.generated-->
    update tb_face_model
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="faceModel != null">
        face_model = #{faceModel,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cloud.xiguapi.haw.db.model.TbFaceModel">
    <!--@mbg.generated-->
    update tb_face_model
    set user_id = #{userId,jdbcType=INTEGER},
      face_model = #{faceModel,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>